<div class="card">
    <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th width="90">{{> components.sort text="OSČ" icon="fas fa-sort-down" }}</th>
                    <th align="center">Status</th>
                    <th>{{> components.sort }}</th>
                    <th>{{> components.sort text="Pošta" }}</th>
                    <th align="right">{{> components.sort text="Získané body" }}</th>
                    <th align="right">Akce</th>
                </tr>
                <tr>
                    <th width="90">{{> components.field modifier_class="field--filter" }}</th>
                    <th></th>
                    <th>{{> components.field modifier_class="field--filter" }}</th>
                    <th>{{> components.field modifier_class="field--filter" }}</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table__body--hover">
                <tr class="table__row--warning">
                    <td class="text-muted" align="right">23256</td>
                    <td align="center">{{> components.buttons.circle modifier_class="btn--default text-warning" icon="far fa-clock" }}</td>
                    <td><a href="#">Béda Travníček</a></td>
                    <td>Havlíčkův Brod</td>
                    <td align="right">{{> components.price value="10 000" }}</td>
                    <td class="text-nowrap" align="right">
                        {{> components.buttons.circle modifier_class="btn--ghost" icon="fas fa-pencil-alt" }}
                        {{> components.buttons.circle modifier_class="btn--ghost" icon="fas fa-sync-alt" }}
                    </td>
                </tr>
                <tr class="table__row--warning">
                    <td class="text-muted" align="right">23256</td>
                    <td align="center">{{> components.buttons.circle modifier_class="btn--default text-warning" icon="far fa-clock" }}</td>
                    <td><a href="#">Béda Travníček</a></td>
                    <td>Havlíčkův Brod</td>
                    <td align="right">{{> components.price value="500" }}</td>
                    <td class="text-nowrap" align="right">
                        {{> components.buttons.circle modifier_class="btn--ghost" icon="fas fa-pencil-alt" }}
                        {{> components.buttons.circle modifier_class="btn--ghost" icon="fas fa-sync-alt" }}
                    </td>
                </tr>
                <tr class="table__row--muted">
                    <td class="text-muted" align="right">23256</td>
                    <td align="center">{{> components.buttons.circle modifier_class="btn--default text-muted" }}</td>
                    <td><a href="#">Béda Travníček</a></td>
                    <td>Havlíčkův Brod</td>
                    <td align="right">{{> components.price value="800 000" }}</td>
                    <td class="text-nowrap" align="right">
                        {{> components.buttons.circle modifier_class="btn--ghost" icon="fas fa-pencil-alt" }}
                        {{> components.buttons.circle modifier_class="btn--ghost" icon="fas fa-sync-alt" }}
                    </td>
                </tr>
                <tr class="table__row--muted">
                    <td class="text-muted" align="right">23256</td>
                    <td align="center">{{> components.buttons.circle modifier_class="btn--default text-muted" }}</td>
                    <td><a href="#">Béda Travníček</a></td>
                    <td>Havlíčkův Brod</td>
                    <td align="right">{{> components.price value="25 800" }}</td>
                    <td class="text-nowrap" align="right">
                        {{> components.buttons.circle modifier_class="btn--ghost" icon="fas fa-pencil-alt" }}
                        {{> components.buttons.circle modifier_class="btn--ghost" icon="fas fa-sync-alt" }}
                    </td>
                </tr>
                <tr class="table__row--success">
                    <td class="text-muted" align="right">23256</td>
                    <td align="center">{{> components.buttons.circle modifier_class="btn--default text-success" }}</td>
                    <td><a href="#">Béda Travníček</a></td>
                    <td>Havlíčkův Brod</td>
                    <td align="right">{{> components.price value="10 000" }}</td>
                    <td class="text-nowrap" align="right">
                        {{> components.buttons.circle modifier_class="btn--ghost" icon="fas fa-pencil-alt" }}
                        {{> components.buttons.circle modifier_class="btn--ghost" icon="fas fa-sync-alt" }}
                    </td>
                </tr>
                <tr class="table__row--success">
                    <td class="text-muted" align="right">23256</td>
                    <td align="center">{{> components.buttons.circle modifier_class="btn--default text-success" }}</td>
                    <td><a href="#">Béda Travníček</a></td>
                    <td>Havlíčkův Brod</td>
                    <td align="right">{{> components.price value="500" }}</td>
                    <td class="text-nowrap" align="right">
                        {{> components.buttons.circle modifier_class="btn--ghost" icon="fas fa-pencil-alt" }}
                        {{> components.buttons.circle modifier_class="btn--ghost" icon="fas fa-sync-alt" }}
                    </td>
                </tr>
                <tr class="table__row--success">
                    <td class="text-muted" align="right">23256</td>
                    <td align="center">{{> components.buttons.circle modifier_class="btn--default text-success" }}</td>
                    <td><a href="#">Béda Travníček</a></td>
                    <td>Havlíčkův Brod</td>
                    <td align="right">{{> components.price value="800 000" }}</td>
                    <td class="text-nowrap" align="right">
                        {{> components.buttons.circle modifier_class="btn--ghost" icon="fas fa-pencil-alt" }}
                        {{> components.buttons.circle modifier_class="btn--ghost" icon="fas fa-sync-alt" }}
                    </td>
                </tr>
                <tr class="table__row--success">
                    <td class="text-muted" align="right">23256</td>
                    <td align="center">{{> components.buttons.circle modifier_class="btn--default text-success" }}</td>
                    <td><a href="#">Béda Travníček</a></td>
                    <td>Havlíčkův Brod</td>
                    <td align="right">{{> components.price value="25 800" }}</td>
                    <td class="text-nowrap" align="right">
                        {{> components.buttons.circle modifier_class="btn--ghost" icon="fas fa-pencil-alt" }}
                        {{> components.buttons.circle modifier_class="btn--ghost" icon="fas fa-sync-alt" }}
                    </td>
                </tr>
                <tr class="table__row--success">
                    <td class="text-muted" align="right">23256</td>
                    <td align="center">{{> components.buttons.circle modifier_class="btn--default text-success" }}</td>
                    <td><a href="#">Béda Travníček</a></td>
                    <td>Havlíčkův Brod</td>
                    <td align="right">{{> components.price value="10 000" }}</td>
                    <td class="text-nowrap" align="right">
                        {{> components.buttons.circle modifier_class="btn--ghost" icon="fas fa-pencil-alt" }}
                        {{> components.buttons.circle modifier_class="btn--ghost" icon="fas fa-sync-alt" }}
                    </td>
                </tr>
                <tr class="table__row--success">
                    <td class="text-muted" align="right">23256</td>
                    <td align="center">{{> components.buttons.circle modifier_class="btn--default text-success" }}</td>
                    <td><a href="#">Béda Travníček</a></td>
                    <td>Havlíčkův Brod</td>
                    <td align="right">{{> components.price value="500" }}</td>
                    <td class="text-nowrap" align="right">
                        {{> components.buttons.circle modifier_class="btn--ghost" icon="fas fa-pencil-alt" }}
                        {{> components.buttons.circle modifier_class="btn--ghost" icon="fas fa-sync-alt" }}
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">{{> components.result }}</td>
                    <td colspan="3" align="right">{{> components.pagination }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>