<div class="table-responsive">
    <table>
        <thead>
            <tr>
                <th colspan="2">Pošta</th>
                <th align="right">Produkce</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table__row--heading">
                <td colspan="2">Celkem v období</td>
                <td align="right">3 200 {{> components.value modifier_class="value--increase" text="120 %" }}</td>
            </tr>
            <tr>
                <td class="text-muted" width="75">582 91</td>
                <td>Havlíčkův Brod</td>
                <td align="right">500 {{> components.value modifier_class="value--increase" text="80 %" }}</td>
            </tr>
            <tr>
                <td class="text-muted">582 91</td>
                <td>Havlíčkův Brod</td>
                <td align="right">1 968 {{> components.value modifier_class="value--drop" text="25 %" }}</td>
            </tr>
            <tr>
                <td class="text-muted">582 91</td>
                <td>Havlíčkův Brod</td>
                <td align="right">99 {{> components.value modifier_class="value--increase" text="100 %" }}</td>
            </tr>
            <tr>
                <td class="text-muted">582 91</td>
                <td>Havlíčkův Brod</td>
                <td align="right">800 {{> components.value modifier_class="value--drop" text="150 %" }}</td>
            </tr>
            <tr>
                <td class="text-muted">582 91</td>
                <td>Havlíčkův Brod</td>
                <td align="right">1 {{> components.value modifier_class="value--increase" text="120 %" }}</td>
            </tr>
        </tbody>
    </table>
</div>